h1 {
	text-align: center;
}

table.tabla-centrada {
	margin-left: auto;
	margin-right: auto;
}		

table.tabla-datos th {
	background-color: gray;
}

table.tabla-datos tr:nth-child(odd) td {
	background-color: lightgray;
}

table.tabla-datos tr:nth-child(even) td {
	background-color: darkgray;
}

.errores {
	text-align: center;
	background-color: red;
}
